#search input {
    border: none;
    border-bottom: 1px solid black;
    padding: 5px;
    width: 170px;
}

#search input:focus-visible {
    outline: none;
    background-color: #f2f3ef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#search button {
    border: none;
    background-color: transparent;
}

.search-result-header {
    margin: 40px 0;
    font-size: larger;
}
