/* TODO Add site wide styles */
body {
    background-color: #f2f3ef;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
            "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin: 0;
        -webkit-font-smoothing: antialiased;
}
