.new-recipe-form-container {
    box-sizing: border-box;
    width: 600px;
    padding: 40px;
}

.new-recipe {
        display: flex;
        flex-direction: column;
}

.new-recipe input,
.new-recipe textarea {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid hsl(0, 0%, 80%);
    font-family: inherit;
}

.new-recipe #title {
    width: 100%;
    margin-bottom: 5px;
}

.new-recipe .time-serv-container {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.new-recipe #time_to_cook {
    width: 210px;
}

.new-recipe .image-container {
    display: flex;
    flex-direction: column;
    height: auto;
}

.new-recipe .image-container label {
    margin-bottom: 10px;
}

.new-recipe .image-container div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: fit-content;
    flex-direction: column;
}

.new-recipe div.preview-image-container {
    flex-direction: row;
}

.new-recipe #image {
    margin-top: 10px;
    border: none;
}

.new-recipe #uploadPreview,
.new-recipe #preview {
    height: 100px;
    margin-left: 20px;
}

.new-recipe #description {
    width: 100%;
    height: 100px;
    margin-top: 7px;
}

.new-recipe .ingredients-form,
.new-recipe .instructions-form {
    display: flex;
    flex-direction: column;
}

.ingredients-form .addedIngredients,
.instructions-form .added-instructions {
    height: 80px;
    padding-right: 5px;
}

.addedIngredients {
    margin-bottom: 10px;
}

.addedIngredients li {
    display: flex;
    gap: 5px;
}

.ingr-text {
    max-height: 30px;
    overflow-y: hidden;
}

.addedIngredients ul {
    margin: 0;
    list-style: none;
}

.fa-xmark {
    color: rgb(84, 84, 84);
    margin-left: 5px;
    font-size: smaller;
    padding-top: 3px;
    color: red;
}

.fa-xmark:hover {
    cursor: pointer;
}


.new-recipe .ingredient-inputs {
    display: grid;
    gap: 5px;
    grid-template-areas: "amount select food but"
                         "am-er sel-er food-er but";
    grid-template-columns: 128px 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.ingredient-inputs div.amount {
    grid-area: amount;
}

.ingredient-inputs div.amount > p.error-message {
    grid-area: am-er;
}

.ingredient-inputs div.select {
    grid-area: select;
}

.ingredient-inputs div.select > p.error-message {
    grid-area: sel-er;
}

.ingredient-inputs div.food {
    grid-area: food;
}

.ingredient-inputs div.food > p.error-message {
    grid-area: food-er;
}

.ingredient-inputs div.add-btn {
    grid-area: but;
    margin-top: 4px;
}

.ingredient-inputs #amount {
    box-sizing: border-box;
    width: 128px;
    height: 37px;
}

.ingredient-inputs #food-item {
    box-sizing: border-box;
    height: 37px;
}

.new-recipe .add-btn {
    margin-left: auto;
    margin-bottom: 5px;
}

.new-recipe .add-btn button,
.new-recipe .buttons button,
.btn-nav.add-recipe {
    padding: 5px 10px;
}

.new-recipe .instr-inputs {
    display: grid;
    grid-template-areas: "instr but"
                         "instr-er but";
    grid-template-columns: 356px 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 10px;
}

.instructions-form #instruction {
    width: 356px;
}

.new-recipe .instr-inputs div.instr {
    grid-area: instr;
}

.instr-inputs div.instr > p.error-message {
    grid-area: instr-er;
}

.instr-inputs div.add-btn {
    grid-area: but;
    margin-top: 5px;
}

.new-recipe .buttons {
    display: flex;
    margin-top: 40px;
    justify-content: space-around;
}

.new-recipe .buttons button:hover,
.btn-nav.add-recipe:hover {
    cursor: pointer;
}

.btn-nav.add-recipe {
    width: fit-content;
    align-self: flex-end;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #fff;
    padding: 10px 15px;
    background-color: #f8f9f7;
}

.btn-nav.add-recipe .fa-plus {
    font-size: smaller;
    margin-right: 5px;
}

.btn-nav.add-recipe:hover {
    background-color: #fff;
}

.warning {
    margin-top: 15px;
    font-size: smaller;
    color: red;
}


.added-instructions ol {
    height: 80px;
    overflow-y: scroll;
    margin: 0;
}

.added-instructions ol li {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-bottom: 5px;
}
