.home-page-container {
    width: 100%;
}

.day-recipe {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    align-items: flex-end;
}

.recipes-container {
    width: 100%;
}

.day-recipe-card {
    background-color: #fff;
    display: table-cell;
    width: 240px;
    padding: 52px 0 30px 0;
    vertical-align: middle;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.badge {
    display: flex;
    background-color: #e33d26;
    border-radius: 50%;;
    height: 108px;
    position: absolute;
    width: 108px;
    letter-spacing: 1.1px;
    color: #fff;
    align-items: center;
    justify-content: center;
    top: -55px;
    left: 190px;
}

.badge p {
    margin: 0;
    width: fit-content;
    text-align: center;
}

.day-recipe-card h3 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 30px;
}

.day-recipe .reicpe-description {
    max-height: 150px;
    overflow-y: scroll;
    margin-left: 20px;
}
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.about-app {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
}

.about-app p,
.about-app span {
    width: fit-content;
}

.about-app .about-title {
    width: 100%;
    border-bottom: 7px solid #222;
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 7px solid #222;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}
.image-container {
    width: 235px;
    height: 157px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.recipes-container .card-container:hover {
    cursor: pointer;
}
